.overlay .mask p {
    font-size: 2.2em !important;
    font-weight: bold;
}
.dashboard-hall-of-fame .container {
    width: auto !important;
}
.option {
    margin: auto !important;
}
.option .view {
    cursor: pointer !important;
}
.dashboard-hall-of-fame {
    padding-bottom: 50px !important;
}