.main-nav {
    background-color: black;
    height: 48px;
    width: 100%;
    margin: 0;
    position: fixed;
    z-index: 9;
    margin-top: -48px;
}
.main-nav i {
    color: white;
    margin: 12px;
    font-size: 1.8em !important;
    cursor: pointer;
}
.header-title {
    text-align: center;
    padding: 13px;
}
.header-title span {
    margin-left: -30px;
    font-weight: 800;
}
.list-menu ul {
    background-color: black;
    width: 15%;
    height: 100%;
    min-width: 181px;
    padding-top: 40px;
}
.list-menu ul li a {
    color: white;
    display: block;
    text-decoration: none;
    font-weight: 900;
    padding: 20px;
}
.list-menu ul li:hover {
    background: white;
}
.list-menu ul li a:hover {
    color: red;
}
.list-menu.hidden-menu ul {
    margin-left: -235px;
    transition: 0.5s ease-out all;
}
.list-menu.show-menu ul {
    margin-left: 0;
    transition: 0.5s ease-out all;
    position: fixed;
    z-index: 9999;

}
.nav-content {
    transition: 0.5s ease-out all;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    margin-top: 48px;
}
.initial-nav {
    margin-top: 48px;
    position: fixed;
    z-index: 9;
}
.div-empty {
    width: 83%;
    height: 1000px;
    float: right;
}