.card-wrapper .card-rotating.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.card-wrapper .card-rotating {
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.riders img {
    height: 150px;
}
.riders .avatar {
    margin-top: -80px;
}
.riders span.rotate-btn {
    cursor: pointer;
}