.main-side {
    height: 100%;
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    margin-top: -100%;
    transition: 1.6s ease-out all;
}
.main-side.showSide{
    margin-top: 0;
    transition: 1.6s ease-out all;
}
.main-side .card{
    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;
    height: 80%;
    opacity: 0.9;
    transition: 0.8s ease-out all;
    right: 0;
}
.pane-content-info{
    opacity: 0;
    transition: 1s ease-out all;    
    position: absolute;
    bottom: 0%;

}
.main-side .row{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.main-side .black-shadow{
    height: 100%;
}
.int-card{
    height: 90%;
}
.int-card p{    
    padding: 30px 0 0;
    margin: 35px;
}
.goLeft{
    right: 30% !important;
}
.hidden-div{
    opacity: 1 !important;
    position: absolute;
    bottom: 0%;
    right: 3%;
    background: black;
    transition: 0.3s ease-out all;
    height: 85%;
}