.main-side {
    height: 100%;
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    margin-top: -1000px;
    transition: 1.2s ease-in-out all;
}
.main-side.showSide{
    margin-top: 0;
    transition: 1.2s ease-in-out all;
}
.main-side .card{
    background-repeat: no-repeat;
    margin: 30px auto;
    background-size: cover;
    height: 80%;
    opacity: 0.9;
    transition: 0.8s ease-out all;
    right: 0;
    z-index: 9999;
}
.pane-content-info{
    opacity: 0;
    transition: 1s ease-out all;    
    bottom: 0%;

}
.main-side .row{
    position: absolute;
    top: 13%;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
}
.main-side .black-shadow{
    height: 100%;
}
.int-card{
    height: 90%;
}
.int-card p{    
    padding: 30px 0 0;
    margin: 35px;
}
.goLeft{
    right: 30% !important;
}
.hidden-div{
    opacity: 1 !important;
    bottom: 5%;
    padding: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.3s ease-out all;
    height: auto;
    margin: auto;
}
.row.map {
    /* top: 110px !important; */
    /* width: 400px; */
}
.hidden-div .row {
    position: relative;
    height: 100%;
    
    top: 0;
}
.int-card .btn-pink {
    margin: auto;
}
a.abslute  {
    margin: 20px auto;
}