.main-ranking .nfl a {
    text-decoration: none;
    transition: color 0.2s ease-out;
  }
  .main-ranking .nfl a {
    color: rgba(79, 192, 210, 1);
  }
.main-ranking .nfl a:hover {
    color: rgba(38, 134, 149, 1);
  }
.main-ranking .mlb a {
    color: rgba(82, 210, 154, 1);
  }
.main-ranking .mlb a:hover {
    color: rgba(39, 151, 102, 1);
  }
.main-ranking .nhl a {
    color: rgba(231, 196, 104, 0.7);
  }
.main-ranking .nhl a:hover {
    color: rgba(201, 154, 32, 0.7);
  }
.main-ranking .pga a {
    color: rgba(235, 118, 85, 1);
  }
  .main-ranking .pga a:hover {
    color: rgba(195, 61, 23, 1);
  }
  .main-ranking .wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto 100px auto;
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    position: relative;
  }
  .main-ranking .row ul {
    margin: 0;
    padding: 0;
    width: 100%;
    color:white;
  }
 .main-ranking .row ul li {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    list-style: none;
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 767px) and (min-width: 480px) {
    .main-ranking .row ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 479px) {
    .main-ranking .row ul li {
      font-size: 13px;
    }
  }
  .main-ranking .title ul li {
    padding: 15px 13px;
  }
  .main-ranking .row ul li {
    padding: 5px 10px;
  }
  .main-ranking .row {
    padding: 20px 0;
    height: 30px;
    font-size: 0;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-out;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .main-ranking .row:hover {
    background-color: rgba(26, 26, 26, 0.9);
  }
  @media only screen and (max-width: 767px) {
    .main-ranking .row:hover {
      height: 85px;
    }
  }
  @media only screen and (max-width: 359px) {
    .main-ranking .row:hover {
      height: 105px;
    }
  }
  .main-ranking .title {
    padding: 25px 0 5px 0;
    height: 45px;
    font-size: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.1);
  }
  .main-ranking .title:hover {
    height: 45px;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.1);
  }
  @media only screen and (max-width: 767px) {
    .main-ranking .title-hide {
      display: none;
    }
  }
  .main-ranking .nfl {
    border-left: 3px solid rgba(28, 97, 108, 1);
  }
  .main-ranking .nfl:hover {
    border-left: 3px solid rgba(79, 192, 210, 1);
  }
  .main-ranking .mlb {
    border-left: 3px solid rgba(29, 110, 75, 1);
  }
  .main-ranking .mlb:hover {
    border-left: 3px solid rgba(82, 210, 154, 1);
  }
  .main-ranking .nhl {
    border-left: 3px solid rgba(157, 121, 25, 0.7);
  }
  .main-ranking .nhl:hover {
    border-left: 3px solid rgba(231, 196, 104, 0.7);
  }
  .main-ranking .pga {
    border-left: 3px solid rgba(149, 47, 18, 1);
  }
  .main-ranking .pga:hover {
    border-left: 3px solid rgba(235, 118, 85, 1);
  }
  .main-ranking .row-fadeIn-wrapper {
    opacity: 0;
    font-size: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-out;
    animation: fadeIn 0.4s ease-out 2s 1 alternate;
    animation-fill-mode: forwards;
  }
  .main-ranking .row-fadeIn-wrapper:hover {
    height: 35px;
  }
  @media only screen and (max-width: 767px) {
    .main-ranking .row-fadeIn-wrapper:hover {
      height: 55px;
    }
  }
  @media only screen and (max-width: 359px) {
    .main-ranking .row-fadeIn-wrapper:hover {
      height: 75px;
    }
  }
  .main-ranking .fadeIn {
    padding: 20px 0;
    font-size: 0;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .main-ranking .fadeIn:hover {
    background-color: rgba(26, 26, 26, 0.9);
  }
  .main-ranking .row-fadeOut-wrapper {
    font-size: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-out;
    animation: fadeOut 0.4s ease-out 8s 1 alternate;
    animation-fill-mode: forwards;
    opacity: 1;
    height: 65px;
  }
  .main-ranking .row-fadeOut-wrapper:hover {
    height: 100px;
  }
  .main-ranking .update-row {
    animation: update 0.5s ease-out 12s 1 alternate;
  }
  .main-ranking .update1 {
    position: absolute;
    top: 25px;
    display: inline-block;
    opacity: 1;
    animation: update1 1s ease-out 12s 1 alternate;
    animation-fill-mode: forwards;
  }
  .main-ranking .update2 {
    position: absolute;
    top: 25px;
    display: inline-block;
    opacity: 0;
    animation: update2 4s ease-out 13s 1 alternate;
    animation-fill-mode: forwards;
  }
  .main-ranking ul.more-content li {
    position: relative;
    top: 8px;
    font-size: 13px;
    margin: 0;
    padding: 10px 13px;
    display: block;
    height: 50px;
    width: 100%;
    color: white;
  }
  @media only screen and (max-width: 767px) {
    .main-ranking ul.more-content li {
      font-size: 11px;
    }
  }
  .main-ranking .small {
    color: rgba(102, 102, 102, 0.9);
    font-size: 10px;
    padding: 0 10px;
    margin: 0;
  }
  @media only screen and (max-width: 767px) {
    .main-ranking .small {
      display: none;
    }
  }
  @keyframes fadeIn {
    from {
      background: rgba(255, 255, 255, 0.1);
      opacity: 0;
      padding: 0;
    }
    to {
      background: rgba(51, 51, 51, 0.1);
      opacity: 1;
      padding: 0 0 65px 0;
    }
  }
  @keyframes fadeOut {
    from {
      background: rgba(51, 51, 51, 0.1);
      opacity: 1;
      height: 65px;
    }
    to {
      background: rgba(255, 255, 255, 0.1);
      opacity: 0;
      height: 0;
    }
  }
  @keyframes update {
    0% {
      background: rgba(51, 51, 51, 0.1);
    }
    50% {
      background: rgba(255, 255, 255, 0.1);
    }
    100% {
      background: rgba(51, 51, 51, 0.1);
    }
  }
  @keyframes update1 {
    0% {
      opacity: 0;
    }
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes update2 {
    0% {
      opacity: 0;
      color: rgba(255, 255, 255, 0.9);
    }
    20% {
      opacity: 1;
      color: rgba(82, 210, 154, 1);
    }
    100% {
      opacity: 1;
      color: rgba(255, 255, 255, 0.9);
    }
  }
.header-ranking {
  border-bottom: 1px solid white;
}
.main-ranking .header-ranking .row:hover {
  background-color: transparent;
}