.main-card .flipped .face.back  {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.main-card .flipped .face.back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
} 