.fade.show {
    display: block;
    background: rgba(0, 0, 0, 0.9);
    max-height: 100%;
    width: 100%;
    margin: 0;
}
.fade{
    transition: opacity .15s linear;
}
.road-modal {
    overflow-x: hidden;
    overflow-y: auto;
    width: 750px;
}
.road-modal .row {
    margin: 15px 15px 0;
}
#modalRoads button{
    margin: auto;
}
.checkItem {
    text-align: center;
}
.road-modal .iconGo span i{
    font-size: 4.5em;
    color: rgb(27, 0, 136);
    top: 30%;
    margin: auto 35px;
    position: absolute;
}
.initial, .finish {
    border: 0.7px solid #eee;
    padding: 15px 15px;
}